<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhancheng.core.dao.CaseLikeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zhancheng.core.entity.CaseLike">
        <id column="id" property="id" />
        <result column="uid" property="uid" />
        <result column="cid" property="cid" />
        <result column="count" property="count" />
        <result column="is_watch" property="isWatch" />
        <result column="is_like" property="isLike" />
        <result column="is_collection" property="isCollection" />
        <result column="is_deleted" property="isDeleted" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, uid, cid, count, is_watch, is_like, is_collection, is_deleted, gmt_create, gmt_modified
    </sql>

    <select id="queryList" resultType="com.zhancheng.core.vo.CaseLikeVo">
    SELECT uid, zcl.id, zc.cid, name, cover, price, zcl.is_collection FROM zc_case zc
    INNER JOIN zc_case_like zcl
    ON zc.cid = zcl.cid AND zcl.is_deleted = 0 AND zcl.is_collection = 1
    WHERE zc.is_deleted = 0 AND zcl.uid  = #{uid}
    ORDER BY zc.gmt_create DESC
    </select>
    <select id="queryWatchNum" resultType="java.lang.Integer">
        select IFNULL(sum(count),0) FROM zc_case_like
        WHERE is_watch = 1 AND  is_deleted = 0 AND cid = #{cid}
    </select>

</mapper>
