<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhancheng.core.dao.OrderProductCommentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zhancheng.core.entity.OrderProductComment">
        <id column="id" property="id" />
        <result column="sku_id" property="skuId" />
        <result column="spu_id" property="spuId" />
        <result column="uid" property="uid" />
        <result column="like_num" property="likeNum" />
        <result column="comment" property="comment" />
        <result column="score" property="score" />
        <result column="image_json" property="imageJson" />
        <result column="remark" property="remark" />
        <result column="is_deleted" property="isDeleted" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, sku_id, spu_id, uid, like_num, comment, score, image_json, remark, is_deleted, gmt_create, gmt_modified
    </sql>

</mapper>
