<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zhancheng.core.dao.ProductGuigeValueMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.zhancheng.core.entity.ProductGuigeValue" id="BaseResultMap">
        <result property="vid" column="vid"/>
        <result property="nid" column="nid"/>
        <result property="gValue" column="g_value"/>
    </resultMap>
    <delete id="deleteByNid">
        DELETE FROM zc_product_guige_value WHERE nid IN
        <foreach collection="nidList" item="nid" open="(" separator="," close=")">
            #{nid}
        </foreach>
    </delete>

</mapper>