<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhancheng.core.dao.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zhancheng.core.entity.User">
        <id column="uid" property="uid" />
        <result column="username" property="username" />
        <result column="pwd" property="pwd" />
        <result column="phone" property="phone" />
        <result column="openid" property="openid" />
        <result column="nickname" property="nickname" />
        <result column="signature" property="signature" />
        <result column="birth" property="birth" />
        <result column="gender" property="gender" />
        <result column="email" property="email" />
        <result column="cover" property="cover" />
        <result column="status" property="status" />
        <result column="jmsg_name" property="jmsgName" />
        <result column="jmsg_pwd" property="jmsgPwd" />
        <result column="is_deleted" property="isDeleted" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        uid, username, pwd, phone, openid, nickname, signature, birth, gender, email, cover, status, jmsg_name, jmsg_pwd, is_deleted, gmt_create, gmt_modified
    </sql>


    <select id="userTest" resultType="java.util.List">

        SELECT zu.uid, GROUP_CONCAT(zom.module_json) , GROUP_CONCAT(zom.duration) FROM zc_user zu
        LEFT JOIN zc_order_module zom
        ON zu.uid = zom.uid
        WHERE zu.uid = #{uid}
		GROUP BY zu.uid
    </select>
</mapper>
